@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

nav {
    grid-area: navbar;
    padding: var.$spacing-md;

    .navbar {
        display: flex;
        justify-content: center;
        gap: var.$spacing-xxl;
        list-style: none;
        margin: 0;
        padding: 0;

        &__item {
            color: var.$color-primary-700;
            font-size: var.$font-size-md;
            font-weight: var.$font-weight-regular;
            text-decoration: none;
            padding: var.$spacing-sm var.$spacing-md;
            border-radius: 0.5rem;
            transition: all 0.3s ease;

            &:hover {
                font-size: calc(var.$font-size-md + 0.125rem);
                color: var.$color-primary-800;
            }

            &--active {
                font-size: calc(var.$font-size-md + 0.125rem);
                color: var.$color-primary-800;
            }
        }
    }
}